.side-bar{
    position: fixed;
    left: 0;
    top:70px;
    bottom: 0;
    width: 80px;
    z-index: 300;
    background-color: white;
    padding-top: 20px;
    border-right-width: 1px;
    border-right-color: rgb(212, 212, 212);
    border-right-style: solid;
}
.side-bar-link{
    height: 76px;
    vertical-align:middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.side-bar-link:hover{
    background-color: rgb(220, 220, 220);
}
.side-bar-link img{
    width: 25px;
    height: 25px;
}
.text-side{
    font-size: 10px;
}